.knowledge-button {
  height: 30px;
}

body {
  background-color: lightgrey;
}

.button-narrowTopic {
  background-color: #33cc33
}

.button-broadenTopic {
  background-color: #b366ff;
}

.button-confused {
  background-color: #ff9900;
}

.button-expand {
  background-color: #ffff00;
}

.button-elaborate {
  background-color: #3399ff;
}

.button-clear-familiarity {
  background-color: #ff0000;
}
