.knowledge-button {
  height: 30px;
}

body {
  background-color: lightgrey;
}

.button-narrowScope {
  background-color: #33cc33
}

.button-confused {
  background-color: #ff9900;
}

.button-elaborate {
  background-color: #3399ff;
}
